{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{% static 'new.css'%}">
</head>
<style>
    body{
     background-image: url('{% static "images/reg1.jpg"%}');
     background-size:cover;
 }
 </style>
<body>
    <div class="container">

        <h1>Register</h1>
        <hr>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <form method="POST">
            {% csrf_token %}
            
            <input type="text" placeholder="username" name="s"><br><br>
            <input type="password" placeholder="password" name="r"/><br><br>
            <input type="email" placeholder="email" name="u"/><br><br>
            <input type="text" placeholder="number" name="t"/><br><br>
            <button type="button" class="btn btn-success"><a href="/login">Register</a></button>
            <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </form>
    </div>   
</body>
</html>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> -->